extends layout

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .masthead.clearfix
          .inner
            h3.masthead-brand CloudBleedCheck
        .inner.cover
          h1.cover-heading CloudBleedCheck allows you to check if a domain name is affected by CloudBleed bug.
          p.lead
            | Database contains 2.2 Million entries of affected domain names.

          div.lead
            form
              .form-group.row

                .col-sm-10.center
                  input#lgFormGroupInput.form-control.form-control-lg(type='text', placeholder='example.com')


        .mastfoot
          .inner
            p
              | Tool by @avatsaev


