extends layout

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .masthead.clearfix
          .inner
            h3.masthead-brand CloudBleedCheck
        .inner.cover.center(style="margin: 0 auto; text-align: center")
          h1.cover-heading CloudBleedCheck allows you to check if a domain name is affected by CloudBleed bug.
          p.lead
            | Database contains 2.2 Million entries of affected domain names.
          p#result-msg.lead.hidden
            | This domain name is affected



          .form-group.row

            .col-md-12.center
              form
                input#domain-input.form-control.form-control-lg(type='text', placeholder='example.com')
                <br>
                button#submit-button.btn.btn-primary.btn-lg(style="cursor:pointer")
                  | CHECK


        .mastfoot
          .inner
            p
              | Tool by @avatsaev


